.table{
    display: table;
    table-layout: fixed;
}
.cell{
    display: table-cell;
}
.pointer{
    cursor: pointer;
}
.title-href{
    h1{
        cursor: pointer;
    }
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
.p-r-15px{
    padding-right: 30px;
}
.p-l-15px{
    padding-left: 30px;
}
.p-2{
    padding: 2em;
}