html{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body{
    font-size: 15px;
    line-height: 24px;
}

.table{
    display: table;
    table-layout: fixed;
}
.cell{
    display: table-cell;
}
.pointer{
    cursor: pointer;
}
.title-href{
    h1{
        cursor: pointer;
    }
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
.p-r-15px{
    padding-right: 30px;
}
.p-l-15px{
    padding-left: 30px;
}
.p-2{
    padding: 2em;
}
.paid{
    // background-color: #dcedc8;
    // color: #fff;
    td{
        color:#424242;
        font-weight: bold;
    }
}

@keyframes comment-show{
    0%{
        transform: scale(.3);
    }
    100%{
        transform: scale(1);
    }
}
.comment{
    position: absolute;
    bottom: 0;
    left: 0;
    pre{
        animation: comment-show cubic-bezier(0.215, 0.610, 0.355, 1) .4s;
        background: rgba(0,0,0,.7);
        color:#fff;
        border-radius: 4px;
        box-shadow: 1px 2px 5px rgba(0,0,0,.3);
        padding: 12px;
    }
    
}